{% extends 'info/base.html' %}

{% block title %}
Products list
{% endblock %}


{% block body %}
<h1>Products list</h1>

    {% if products%}

    <div>
        {% for prod in products%}
        <div>

            <p><a href="{% url 'info:product_details' pk=prod.pk %}">NAme: {{ prod.name}}</a></p>
            <p>price: {{ prod.price}}</p>
            <p>discount: {% firstof prod.discount 'no discount' %}</p>
            <p>created: {{ prod.created_at}}</p>
            <p>description: {{ prod.description}}</p>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h3>no products</h3>
    {% endif %}

<div>
    <a href="{% url 'info:create_product' %}">Create a new product</a>
</div>

{% endblock %}